{% extends "base.html" %}


{% block content %}
    <h1>Hi, {{ user_handle }}!</h1>

    <!--input type="text" id="tags"--> 
    

    <div>Add a new user:  
        <form action="{{ url_for('add') }}" method="POST">  
            <input type="text" name="add_user_handle" id="tags">  
            <input type="submit" value="Add Bluesky User" class="button">  
        </form>  
    </div>

    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Handle</th>
            <th>Display Name</th>
            <th>Remove From List</th>
        </tr>
        </thead>
        <tbody>
        {% for ul in subscribed_to %}
            <tr>
            <td>{{ ul.subscribes_to_handle }}</td>
            <td>{{ ul.subscribes_to_disp_name }}</td>
            <td><a href="/delete/{{ ul.id }}" class="btn btn-info" role="button">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>

    $( function() { 
        var availableTags = [ 
            {% for handle in follows %} 
                "{{handle}}", 
            {% endfor %} 
        ]; 
        $( "#tags" ).autocomplete({ 
        source: availableTags 
        }); 
    } ); 
  </script> 
{% endblock %}